/build/
/dist/
/yankee_TSS-war/build/
/yankee_TSS-war/dist/
/yankee_TSS-ejb/build/
/yankee_TSS-ejb/dist/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/nbproject/project.properties/