/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2017, 10:07:44 PM
    Author     : madhurakhalmagar
*/

.main-header .navbar, .main-footer, .content-wrapper {
    margin-left: 0px;
}
.box-info {
    overflow: hidden;
}

#createContractForm .form-group {
    overflow: hidden;
}
.ui-outputpanel.box-body.top-border {
    border-top: 1px solid #696b6d;
}
.content-header {
    min-height: 40px;
}
span.form-control {
    padding: 0px;
    marign: 0px;
}
span.form-control > input {
    width: 100%;
    padding: 0px;
    height: 100%;
    margin: 0px;
    box-shadow: none;
    border: none;
}
.edit-contract .form-group {
    overflow: hidden;
}
.ui-inputfield {
    box-shadow: none;
}

.ui-button {
    box-shadow: none;
    border: none;
    background: #00c0ef;
}
.ui-chkbox-box{
    border-radius: 50% !important;
}
.ui-chkbox {
    padding: 0px 3px 0px 0px;
}
.lang-btn {
    border: none !important;
    width: 100%;
    color: black;
    background-color: #fff;
}
@media (min-width: 768px) {
    .control-label {
        text-align: right !important;
    }
}

.manage-btn-controllers button {
    border-radius: 0px !important;
}

@media (max-width: 768px) {
    .responsive-td {
        width: 100%;
        float: left;
        display: inline-block;
        clear: both;
    }
}
.myaccount .form-group {
    overflow: hidden;
    clear: both;
}

.dataTables_wrapper table {
    width: 100% !important;
}
.profile-user-img {
    width: 150px;
}

.profile-text {
    font-size: 40px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    line-height: 125px;
    display: inline-block;
}
.intro-header {
    color: #f8f8f8;
    background: url("#{resource['images/intro-bg.jpg']}") no-repeat center center;
    background-color: #464141;
    background-size: 100% auto;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}
.intro-message>h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}
.intro-message>h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
.section-heading {
    margin-bottom: 30px;
}
.watch {
    max-width: 300px;
}

.ui-growl {
    z-index: 9999 !important;
}
.form-group .control-label {
    font-weight: normal;
}
.ui-datagrid-column {
    border: 1px solid #ededed;
}
.ui-widget-content {
    border: none;
    padding-top:4px;
}
.ui-datagrid .ui-datagrid-header {
    background: none;
    border-radius: 0px;
    padding: 7px 10px;
}

#timesheetentry .ui-corner-top {
    border: none;
}
#timesheetentry .ui-panel .ui-panel-titlebar {
    border-radius: 0px;
    background: none;
}
#timesheetentry .ui-state-default, #timesheetentry .ui-widget-content .ui-state-default, #timesheetentry .ui-widget-header .ui-state-default  {
    border-radius: 0px;
    background: none;
    border: 1px solid #ededed;
}
.ui-grid-row .ui-datagrid-column {
    margin: 0px 0.4%;
}

#myAccount .ui-corner-top, #myAccount .ui-button{
    background: none;
    border-radius: 0px;
}

.form-group .form-control {
    border-radius: 0px;
}