/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2017, 10:07:44 PM
    Author     : madhurakhalmagar
*/

.main-header .navbar, .main-footer, .content-wrapper {
    margin-left: 0px;
}
.box-info {
    overflow: hidden;
}

#createContractForm .form-group {
    overflow: hidden;
}
.ui-outputpanel.box-body.top-border {
    border-top: 1px solid #696b6d;
}
.content-header {
    min-height: 40px;
}
span.form-control {
    padding: 0px;
    marign: 0px;
}
span.form-control > input {
    width: 100%;
    padding: 0px;
    height: 100%;
    margin: 0px;
    box-shadow: none;
    border: none;
}
.edit-contract .form-group {
    overflow: hidden;
}
.ui-inputfield {
    box-shadow: none;
}

.ui-button {
    box-shadow: none;
    border: none;
    background: #00c0ef;
}
.ui-chkbox-box{
    border-radius: 50% !important;
}
.ui-chkbox {
    padding: 0px 3px 0px 0px;
}
.lang-btn {
    border: none !important;
    width: 100%;
    color: black;
    background-color: #fff;
}
@media (min-width: 768px) {
    .control-label {
        text-align: right !important;
    }
}

.manage-btn-controllers button {
    border-radius: 0px !important;
}

@media (max-width: 768px) {
    .responsive-td {
        width: 100%;
        float: left;
        display: inline-block;
        clear: both;
    }
}
.myaccount .form-group {
    overflow: hidden;
    clear: both;
}